build
build-arm
build-arm-bench
build-arm-debug
mx.scratch
!.settings
.DS_Store
__pycache__
*.pyc
tools/web-preset-manager/package-lock.json
tools/simulator/build/
.vscode/.cortex-debug.*
build-host
renders
